/* Define the initial state of the button */
.resizing-button {
   
    position:fixed;
    max-width: 38rem;
    width:calc(100vw - 4rem);
    bottom:2rem;
    cursor: pointer;
    border-radius:0.8rem;
    animation-name: expand;
    animation-play-state: paused;
    animation-duration: .7s;
    animation-fill-mode: forwards;
   
  }
  
  /* Define the animation */
  @keyframes expand {
    0% {
      width: calc(100vw - 4rem);
      max-width: 38rem;
      border-radius:0.8rem;
      bottom:2rem;
    }
   
    100% {
      width: 100vw;
      transform:translateX(-2rem);
      max-width: 42rem;
      border-radius:0rem;
      bottom:0rem;
    
    }
  }
  /* Define the animation */
  @keyframes shrink {
  
   
    0% {
      width: 100vw;
      transform:translateX(-2rem);
      max-width: 42rem;
      border-radius:0rem;
      bottom:0rem;
    
    }
    100% {
        width: calc(100vw - 4rem);
        max-width: 38rem;
        border-radius:0.8rem;
        bottom:2rem;
      }
  }
 