input.checklist-checkbox{
    display: none;
}
input.checklist-checkbox + label{
    display: inline-block;
    width: 14px;
    height: 14px;
    position: relative;
}

input.checklist-checkbox:checked + label::after {
    content: url('/images/checklist/checkedbox.svg');
}
input.checklist-checkbox + label::after {
    content: url('/images/checklist/uncheckedbox.svg');
}