input.checklist-checkbox{
    display: none;
}
input.checklist-checkbox + label{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: relative;
}

input.checklist-checkbox:checked + label::after {
    content: url('/images/checklist/checkedbox.svg');
}
input.checklist-checkbox + label::after {
    content: url('/images/checklist/uncheckedbox.svg');
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
.scrollbar-hidden {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.fill-linear-gradient {
   background:linear-gradient(to bottom,rgba(255, 255, 255, 0),rgba(255, 255, 255,70.31%))
}
.ciga-save-shadow {
    -webkit-box-shadow: -6px 27px 14px 41px rgba(255, 255, 255,70.31%);
    -moz-box-shadow: -6px 27px 14px 41px rgba(255, 255, 255,70.31%);
    box-shadow: -6px 27px 14px 41px rgba(255, 255, 255,70.31%);
}