
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


html{
  font-size: 62.5%;
  font-family: 'Noto Sans KR', sans-serif;
}
body{
  background-color: #F8F8FA;
  border-style:solid !important;
  touch-action: none;
  
}
.app-wrap::-webkit-scrollbar {
  display: none;
}
.app-wrap{
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

* {
  box-sizing: border-box;
}

input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-out-spin-button {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
input[type="search"] {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.time-set-button-border{
  border:0.1rem solid #4382FF;
}